.side-by-side-charts {
  position: absolute;
  width: 100%;
  height: 350px;

  chart-with-time-selection {
    position: absolute;

    &.left-chart {
      left: 0;
    }

    &.right-chart {
      left: 600px;
    }
  }
}

overview-charts {
  top: 0;
}

visitors-charts {
  top: 350px;
  background-color: $color-d7;
}

top-products-charts {
  top: 700px;
}


