top-products-charts {
  position: absolute;
  top: 350px;

  chart-with-time-selection {
    position: absolute;

    &.left-chart {
      left: 0;
    }

    &.right-chart {
      left: 600px;
    }
  }
}
