%canvas(style='border: 1px black solid;'
  width='500'
  class="chart chart-line"
  chart-data="$ctrl.chart.data"
  chart-labels="$ctrl.chart.labels"
  chart-legend="false"
  chart-series="$ctrl.chart.series"
  chart-click="$ctrl.chart.onClick"
  chart-options="{'responsive': false, 'maintainAspectRatio': true}")
%timeframe-selector(week-clicked="$ctrl.changeChartView('week')" month-clicked="$ctrl.changeChartView('month')" year-clicked="$ctrl.changeChartView('year')")