-#%canvas(style='border: 1px black solid;' class="chart chart-line" chart-data="$ctrl.ordersGraph.data" chart-labels="$ctrl.ordersGraph.labels" chart-legend="true" chart-series="$ctrl.ordersGraph.series" chart-click="$ctrl.ordersGraph.onClick")
-#%canvas(style='border: 1px red solid;' class="chart chart-line" chart-data="$ctrl.revenueGraph.data" chart-labels="$ctrl.revenueGraph.labels" chart-legend="true" chart-series="$ctrl.revenueGraph.series" chart-click="$ctrl.revenueGraph.onClick")
%h1 overview
%chart-with-time-selection