%h1 Overview
%chart-with-time-selection.left-chart(chart-name='orders' chart-title='orders' chart-type='Line')
%chart-with-time-selection.right-chart(chart-name='revenue' chart-title='revenue' chart-type='Line')