%button(ng-click='$ctrl.lastWeekButtonClick()') {{$ctrl.lastWeekButtonLabel}}
%button(ng-click='$ctrl.lastMonthButtonClick()') {{$ctrl.lastMonthButtonLabel}}
%button(ng-click='$ctrl.lastYearButtonClick()') {{$ctrl.lastYearButtonLabel}}