%h1 Top Products
%chart-with-time-selection.left-chart(chart-name='topProductsViewed' chart-title='top products viewed' chart-type='Bar')
%chart-with-time-selection.right-chart(chart-name='topProductsPurchased' chart-title='top products purchased' chart-type='Bar')