%h1 Visitors
%chart-with-time-selection.left-chart(chart-name='visitors' chart-title='visitors' chart-type='Line')
%chart-with-time-selection.right-chart(chart-name='desktopVsMobile' chart-title='desktop vs. mobile' chart-type='Bar')