%h1 Visitors
%chart-with-time-selection.left-chart(chart-name='orders' chart-title='visitors' chart-type='Line')
%chart-with-time-selection.right-chart(chart-name='revenue' chart-title='desktop vs. mobile' chart-type='Line')